@font-face {
  font-family: "montserrat";
  src: url("./assets/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "fraunces";
  src: url("./assets/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  font-family: "montserrat", sans-serif;
  background-color: var(--cream);
}

p {
  font-size: 14px;
  color: var(--dark-grayish-blue);
  font-weight: 500;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 1rem 1rem;
  background-color: var(--white);
  border-radius: 20px;
}

.card-content-wrapper {
  padding: 1.5rem;
}

.img-desktop {
  display: none;
}

.img-mobile {
  display: block;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.sub-title {
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: .3rem;
  margin-top: 0;
  color: var(--very-dark-blue)
}

.title {
  font-family: "fraunces", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
}

.description {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.price-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.current-price {
  font-size: 2.5rem;
  font-family: "fraunces", sans-serif;
  color: var(--dark-cyan);
  font-weight: 700;
  margin: 0 2rem 0 0;
}

.old-price {
  text-decoration: line-through;
  font-size: 1rem;
  margin: 0;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--dark-cyan);
  border-radius: 10px;
  width: 100%;
  border: none;
}

.button-wrapper:hover {
  background-color: var(--very-dark-blue);
  cursor: pointer;
}

.button-wrapper > p {
  color: var(--white);
  font-weight: 700;
  margin-left: 1rem;
}

@media (min-width:600px) {

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
  }

  .img-desktop {
    display: block;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .img-mobile {
    display: none;
  }

  .card {
    flex-direction: row;
    max-width: 650px;
  }

  .card-content-wrapper {
    width: 50%;
    align-self: center;
  }
}